<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employe</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>

<!--MODAL-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enregistrer un employé</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/employe/add}" th:object="${employe}" action="#">
                    <div class="form-group">
                        <label for="nom">Matricule</label>
                        <input th:field="*{matricule}" type="text" class="form-control" id="matricule"
                               aria-describedby="emailHelp" placeholder="Matricule">
                    </div>
                    <input th:field="*{id}" type="hidden" id="id">
                    <div class="form-group">
                        <label for="nom">Nom complet</label>
                        <input th:field="*{nomComplet}" type="text" class="form-control" id="nomComplet"
                               aria-describedby="emailHelp" placeholder="Nom complet">
                    </div>
                    <div class="form-group">
                        <label for="poste">Poste</label>
                        <input th:field="*{poste}" type="text" class="form-control" id="poste"
                               placeholder="Poste de l'employé">
                    </div>
                    <div class="form-group">
                        <label for="salaire">Salaire</label>
                        <input th:field="*{salaire}" type="number" class="form-control" id="salaire"
                               placeholder="Salare de l'employé">
                    </div>
                    <div class="form-group">
                        <label for="service">Service(s)</label>
                        <select th:field="*{service.id}" class="form-control" id="service">
                            <option th:each="service:${services}" th:value="${service.getId()}"
                                    th:text="${service}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--END MODAL-->
<div class="container" style="margin-top: 20px;">
    <h2>Liste des employés</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="margin: 20px;">
        Enregistrer un employé
    </button>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Matricule</th>
            <th>Nom complet</th>
            <th>Poste</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employe:${employes}">
            <td th:text="${employe.matricule}">Matricule</td>
            <td th:text="${employe.nomComplet}">Nom complet</td>
            <td th:text="${employe.poste}">Poste</td>
            <td>
                <a th:href="@{'/employe/show/' + ${employe.id}}" title="Voir" class="btn btn-info"><i
                        class="fa fa-eye"></i></a>
                <!--                <a href="#" title="Modifier" id="exampleModalLabel" class="btn btn-warning"></a>-->
                <a
                        th:data="${employe.id}"
                        class="btn btn-primary btnEdit" href="#"
                        role="button" data-toggle="modal" data-target="#addModal"><i class="fa fa-edit"></i></a>
                <a
                        th:data="${employe.id}"
                        class="btn btn-primary btnRemove" href="#"
                        role="button" data-toggle="modal"><i class="fa fa-trash"></i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    $(document).ready(function () {
        $('.btnEdit').click(function () {
            var id = $(this).attr('data')
            console.log(id)
            $.ajax({
                url: '/employe/edit/' + id,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    $('#id').val(data.id)
                    $('#matricule').val(data.matricule)
                    $('#nomComplet').val(data.nomComplet)
                    $('#poste').val(data.poste)
                    $('#salaire').val(data.salaire)
                    $('#service').val(data.service.id)
                },
                error: function (error) {
                    console.error(error);
                }
            })
        });


        $('.btnRemove').click(function () {
        //
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                var id = $(this).attr('data')
                $.ajax({
                    url: '/employe/remove/' + id,
                    type: 'get',
                    success: function (data) {
                        if(data.status === "success") {
                            // swalWithBootstrapButtons.fire(
                            //     'Deleted!',
                            //     'La ligne a été supprimée avec succès.',
                            //     'success'
                            // )
                            window.location.reload()
                        }
                        else {
                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Erreur de suppression.',
                                'error'
                            )
                        }

                    },
                    error: function (error) {
                        console.error(error);
                    }
                })
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                )
            }
        })
        //
        });
    })
</script>
</body>
</html>